#course_page {
  color: #fff;
  background-color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

#course_page h2 {
  margin-bottom: 35px;
  font-family: "Cormorant", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.course-section {
  padding-top: 100px;
  background-color: #fff;

  background-image: linear-gradient(to top, #fff 80px, #332e4c 1%);
  display: flex;
}

#course_page .course-themes h2 {
  text-align: left;
}
.course-themes {
  width: 33%;
  padding: 0 30px 50px 30px;
}

.course-themes h5 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.course-themes h5::before {
  content: "";
  width: 55px;
  height: 55px;
  margin-right: 10px;
  background-image: url("../images/graduation_hat.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.product_page .course-themes h5::before {
  background-image: url("../images/talisman.svg");
}
.markers {
  display: flex;
  margin-bottom: 50px;
}
.markers .marker-item {
  width: 25%;
}
.marker-item .marker-heading {
  padding: 10px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}

.marker-item .marker-details {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-transform: lowercase;
}

.marker-item ul {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.marker-item .marker-logo {
  margin: 15px auto;
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
}
.marker-item.level .marker-logo {
  background-image: url("../images/level.svg");
}

.marker-item.direction .marker-logo {
  background-image: url("../images/flow.svg");
}
.marker-item.start .marker-logo {
  background-image: url("../images/start.svg");
}
.marker-item.duration .marker-logo {
  background-image: url("../images/calendar.svg");
}

.product_page .marker-item.level .marker-logo {
  background-image: url("../images/level.svg");
}

.product_page .marker-item.direction .marker-logo {
  background-image: url("../images/flow.svg");
}
.product_page .marker-item.chakra .marker-logo {
  background-image: url("../images/chakra.svg");
}
.product_page .marker-item.element .marker-logo {
  background-image: url("../images/element.svg");
}

.about-course-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-course-menu ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.about-course-menu .about-course-heading {
  padding: 20px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  transition: all 500ms ease;

  border-bottom: 1px solid #fff;
}

.about-course-menu ul li input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.about-course-menu ul li .about-course-heading:hover span,
.about-course-menu ul li .about-course-heading:focus span,
.about-course-menu ul li input:checked ~ .about-course-heading span {
  opacity: 1;
}
.about-course-menu .about-course-heading svg {
  transition: all 500ms ease;
}

.about-course-menu ul li input:checked + .about-course-heading svg {
  transform: rotateZ(180deg);
}
.about-course-content {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  opacity: 0;
  transform: translate(0, -100%);
  pointer-events: none;
  transition: all 400ms ease;
}
.about-course-content p {
  margin: 20px 0;
  max-height: 70px;
  overflow: hidden;
  text-transform: lowercase;
  font-weight: 300;
  transition: all 400ms ease;
}
.about-course-menu ul li input:checked ~ .about-course-content {
  position: relative;
  opacity: 1;
  pointer-events: initial;
  transform: translate(0, 0);
}
.about-course-content input:checked ~ p {
  max-height: 1000px;
}
.about-course-content input:checked ~ .detail-button .mobile-icon {
  transform: rotate(180deg);
}
.about-course-content .detail-button {
  padding: 20px 0;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.detail-button .mobile-icon {
  display: none;
}

.course-img {
  width: 33%;
  min-height: 720px;
  background-image: url("../images/course-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.product_page .course-img {
  background-image: none;
  /* height: 400px; */
}

.product_page .course-img img {
  display: block;
  max-height: 730px;
  margin: 0 auto;
  object-fit: cover;
}
#course_page .swiper.productGallary {
  height: 100%;
  padding-bottom: 40px;
}
#course_page .productGallary .swiper-pagination {
  bottom: 0;
}

#course_page .productGallary .swiper-pagination .swiper-pagination-bullet {
  margin: 7px;
  border-radius: 0;
  transform: rotateZ(45deg) scale(0.8);
  background-color: #332e4c;
}
#course_page
  .productGallary
  .swiper-pagination
  .swiper-pagination-bullet-active {
  transform: rotateZ(45deg) scale(1.1);
}

.course-option {
  width: 33%;
  padding: 0 30px;
}

.course-option select {
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #fff;
  background-color: #332e4c;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.course-option select::-ms-expand {
  display: none;
}
.course-option .select-container {
  position: relative;
}
.course-option .select-container::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  width: 13px;
  height: 7px;
  background-image: url("../images/arrow_down.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.course-option .select-content h5 {
  margin: 25px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
}

.select-content .number-of-classes {
  display: flex;
  align-self: center;
}
.select-content .number-of-classes .board-icon {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.course-option .select-content span {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.course-option .select-content ul.filling {
  padding-left: 20px;
  list-style: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-transform: lowercase;
}
.product_page .course-option .select-content ul.filling {
  margin-bottom: 40px;
}
.course-option .select-content ul.filling li {
  margin: 15px 0;
  position: relative;
}
.course-option .select-content ul.filling li::before {
  content: "\25C6";
  font-size: 18px;
  position: absolute;
  left: -20px;
}

#course_page .price-container {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

#course_page .price-container .number {
  display: flex;
  align-items: center;
}

#course_page .price-container .number button {
  width: 34px;
  height: 36px;
  outline: none;
  border: 1px solid #332e4c;
  border-bottom: none;
  color: #332e4c;
  background-color: transparent;
  cursor: pointer;
}

#course_page .price-container .number span {
  padding: 7px 0;
  text-align: center;
  height: 36px;
  width: 44px;
  font-size: 18px;
  line-height: 1.16;
  font-weight: 400;
  border-top: 1px solid #fff;
}

#course_page .price-container .number .currency {
  border: none;
  padding: 0;
}

#course_page .price-container p.price {
  margin: 0;
  margin-left: 20px;
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
}
#course_page .price-container .price-icons {
  display: flex;
}
#course_page .cart-icon.heart {
  background-color: #332e4c;
}
#course_page .cart-icon.heart:hover {
  background-color: #fff;
}
#course_page .cart-icon.heart:hover path {
  stroke: #332e4c;
}

#course_page .cart-icon.heart:hover path {
  fill: none !important;
}
#course_page .attention {
  position: relative;
  padding-left: 30px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-transform: lowercase;
  margin-bottom: 30px;
}
#course_page .attention::before {
  content: "!";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  border: 1px solid #fff;
  border-radius: 50%;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  left: 0;
}
#course_page .free-lesson-container .attention::before {
  border: 1px solid #1f1f1f;
}
/* .course-option .about-course-menu .about-course-heading ul {
  justify-content: left;
}
.course-option .about-course-menu .about-course-heading ul li {
  margin-right: 20px;
} */

section.about-course-section {
  padding: 90px 40px 60px 40px;
  background-color: #fff;
  color: #000;
}

.about-course-section h5,
.article-masters-section h5 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

.about-course-section h2 {
  margin-top: 0;
}
.about-course-section p {
  margin: 20px 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
}
.about-course-section b {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
}

section.format-course {
  padding: 50px 40px;
  background-color: #332e4c;
  color: #fff;
}
#course_page section.format-course h2 {
  margin-bottom: 50px;
}
section.format-course p {
  text-transform: lowercase;
  font-weight: 300;
}
section.format-course ul.main {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

section.format-course ul.main li {
  width: 25%;
  padding: 0 35px 35px 35px;
}
section.format-course ul.main li:not(:last-child) {
  border-right: 1px solid #fff;
}

section.format-course ul.main .item-icon {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.free-lesson {
  position: relative;
  background-image: linear-gradient(to bottom, #fff 40px, #d9d9d1 1%);
  min-height: 500px;
  display: flex;
}

section.free-lesson .video-container {
  margin-left: 40px;
  margin-bottom: 40px;
  width: 45%;
  max-width: 800px;
  z-index: 1;
}

section.free-lesson .video-container .video-wrap {
  width: 100%;
  height: 100%;
  max-height: 460px;
  position: absolute;
  background-color: rgba(31, 31, 31, 0.5);
  background-image: url("../images/video_play.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 10;
}

section.free-lesson .video-container .video {
  width: 100%;
  height: 100%;
  max-height: 460px;
}

section.free-lesson .free-lesson-container {
  color: #000;
  padding: 40px;
  width: 55%;
}

section.free-lesson .free-lesson-container ul {
  padding: 0;
  list-style: none;
}

section.free-lesson .free-lesson-container ul.free-lesson-list > li {
  border-bottom: 1px solid #1f1f1f;
  overflow: hidden;
  max-height: 100px;

  transition: max-height 500ms ease;
}
section.free-lesson .free-lesson-container ul.free-lesson-list > li p {
  margin-bottom: 30px;
}

section.free-lesson .free-lesson-container ul.free-lesson-list > li.open {
  max-height: 1000px;
}

.free-lesson-container .heading ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.free-lesson-container .heading ul li {
  display: flex;
  align-items: center;
  padding: 30px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.free-lesson-container .heading .btn div {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 25px;
  font-weight: 300;
}

.free-lesson-container .heading .circle {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.free-lesson-container .heading .circle .border {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 1px dashed #332e4c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading .btn div .border {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 1px dashed #332e4c;
}
.free-lesson-container .content .list {
  padding-left: 20px;
  margin-bottom: 20px;
}
.free-lesson-container .content .list li {
  margin: 10px 0;
  position: relative;
}
.free-lesson-container .content .list li::before {
  content: "\25C6";
  position: absolute;
  left: -20px;
}

.free-lesson-container .content .attention {
  position: relative;
  padding-left: 30px;
}

.free-lesson-container .content .attention::before {
  content: "!";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #1f1f1f;
  position: absolute;
  left: 0px;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #1f1f1f;
}

.select-container_desktop {
  display: flex;
}
.course-program {
  padding: 70px 40px;
  color: #000;
}
.select-container_desktop .select-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #d9d9d1;
  background-color: #fff;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000;

  transition: all 500ms ease;
}
.select-container_desktop input,
.select-list-item input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
.select-container_desktop .select-item:hover,
.select-container_desktop input:checked + .select-item {
  background-color: #d9d9d1;
}

.select-container_mobile {
  display: none;
}

.select-container_mobile select {
  padding: 15px 5px;
  width: 100%;
  outline: none;
  border: 1px solid #d9d9d1;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.selected-content .selected-content-list {
  display: none;
  opacity: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}
.selected-content .selected-content-list.selected {
  display: block;
  opacity: 1;
}

.selected-content .selected-content-list .select-list-item {
  width: 100%;
  margin-bottom: 2px;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1f1f1f;
}
.selected-content-list .select-list-item label {
  background-color: #b8c3cb;
}

.selected-content .selected-content-list .selected-item {
  opacity: 0;
  position: absolute;
  margin: 30px 0;

  background-color: #d9d9d1;
  transform: translate(0, -100%);
  pointer-events: none;

  transition: all 500ms ease;
}
.selected-content-list .select-list-item input + label::after {
  content: "";
  display: block;
  width: 13px;
  height: 7px;

  background-image: url("../images/arrow_down.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 10px;
  top: 50%;

  transition: transform 500ms ease;
}
.selected-content-list .select-list-item input:checked + label::after {
  transform: rotateZ(180deg);
}

.selected-content-list .select-list-item input:checked ~ .selected-item {
  opacity: 1;
  width: 100%;
  pointer-events: initial;
  position: relative;
  transform: translate(0, 0);
}

.selected-content-list .select-list-item label {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  padding: 20px;
}

.select-list-item .selected-item {
  display: flex;
}

.select-list-item .selected-item .content {
  padding: 30px;
  width: 60%;
  max-height: 589px;
  overflow-y: auto;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.14;
  text-transform: lowercase;
}
.select-list-item .selected-item .image {
  width: 40%;
  min-height: 589px;
  background-image: url("../images/image_84.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.select-list-item .selected-item .content ul {
  padding: 0;
  list-style: none;
}
.select-list-item .selected-item .content ul li > p {
  margin: 25px 0;
}
.select-list-item .selected-item .content .heading {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;

  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#course_page .our-teachers-section h2 {
  text-align: left;
}
section.course-teacher .our-teachers-section .teachers-photo {
  width: 40%;
}

section.payment {
  padding: 40px 12px;
  text-align: center;
  color: #1f1f1f;
}
#course_page section.payment h5 {
  margin-bottom: 10px;
}
#course_page section.payment h2 {
  margin: 0;
}

section.payment .section-heading {
  padding: 15px 0;
  margin-bottom: 10px;
}

section.payment .month-course,
section.payment .block-course,
section.payment .full-course {
  order: 2;
  padding: 30px 20px;
  margin: 20px 10px;
  background-color: #b8c3cb;
}
section.payment .blocks {
  display: flex;
}
section.payment .blocks .first-column,
section.payment .blocks .second-column {
  width: 100%;
}

section.payment .full-course {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  order: 1;
  height: calc(100% - 30px);
}
section.payment .full-course h4 {
  margin-bottom: 15px;
}
section.payment .full-course-list h4 {
  margin-bottom: 40px;
}
section.payment .attention-container {
  order: 2;
  margin: 10px;
}

section.payment h3 {
  margin: 15px 0;
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: left;
}
section.payment h4 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: left;
}
#course_page section.payment .price {
  display: flex;
}
#course_page section.payment .price-container {
  width: 50%;
  margin-bottom: 0;
  border-bottom: 1px solid #1f1f1f;
}
#course_page section.payment .attention {
  width: 50%;
  margin-bottom: 0;
  margin-left: 20px;
}
#course_page section.payment .attention::before {
  border: 1px solid #1f1f1f;
}

#course_page section.payment .price-container .cart-icon {
  background-color: #1f1f1f;
  border: 1px solid #1f1f1f;
}

section.payment .price-container .cart-icon path {
  fill: #fff;
}
section.payment .price-container .cart-icon:hover path {
  fill: #1f1f1f;
}

#course_page section.payment .price-container .cart-icon:hover {
  background-color: #fff;
  border: 1px solid #1f1f1f;
}

section.payment .attention {
  text-align: left;
}

section.payment .full-course-list h4,
section.payment .full-course-list ul,
section.payment .full-course-list p {
  text-align: left;
}
section.payment .full-course-list ul {
  margin-bottom: 40px;
  padding-left: 15px;
}
section.payment .full-course-list ul li {
  margin-bottom: 10px;
}
section.payment .full-course-list p {
  margin-bottom: auto;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
}

section.payment .attention-container {
  display: flex;
  padding: 20px;
  background-color: #d9d9d1;

  text-align: left;
}
section.payment .attention-container img {
  margin-right: 15px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
}

#course_page .article-masters-section {
  padding: 70px 0;
  background-color: #d9d9d1;
}

#course_page .article-masters-section > h5,
#course_page .article-masters-section > h2 {
  color: #000;
}

#course_page .article-masters-section .content-container h2 {
  text-align: left;
  font-weight: normal;
}

.product_page section.free-lesson {
  background-image: linear-gradient(to bottom, #fff 100px, #d9d9d1 1%);
}

#course_page.product_page .free-lesson .section_heading {
  position: absolute;
  left: calc(45% + 43px);
}

#course_page.product_page .free-lesson .section_heading h5,
#course_page.product_page .free-lesson .section_heading h2 {
  color: #1f1f1f;
  text-align: left;
}
#course_page.product_page .free-lesson .section_heading h5 {
  margin-bottom: 10px;
}

.product_page .free-lesson .how-used-list {
  margin-top: 30px;
  text-transform: lowercase;
  list-style-type: "\25C6";
  font-weight: 300;
}
.product_page .free-lesson .how-used-list li {
  padding-left: 10px;
  margin-bottom: 15px;
}

#course_page.product_page .delimiter {
  height: 0;
}
#course_page.product_page .delimiter svg {
  top: -550px;
}

.detail_section {
  padding: 60px 40px;
  color: #000;
  background-color: #b8c3cb;
}

.detail_section .detail_section-content {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  opacity: 1;
  transform: translate(0, 0);
  transition: all 400ms ease;
}

.detail_section .detail_section-content ul {
  max-height: 200px;
  overflow: hidden;
  list-style-type: none;
  transition: all 300ms ease;
}
.detail_section .detail_section-content input:checked ~ ul {
  max-height: 10000px;
}
.detail_section .detail_section-content ul li {
  display: flex;
  margin-bottom: 20px;
}
.detail_section .detail_section-content ul li div.name {
  margin-right: 15px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.detail_section .detail_section-content ul li div.detail {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14;
  text-transform: lowercase;
}
.detail_section .detail_section-content input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.detail_section
  .detail_section-content
  input:checked
  ~ .detail-button
  .mobile-icon {
  transform: rotateZ(180deg);
}

.product_page .wrapper_usefull_page .wrapper_courses,
.product_page .wrapper_usefull_page {
  margin-top: 0;
}

@media (max-width: 1024px) {
  #course_page .course-section .swiper.productGallary {
    height: 400px;
  }
  /* .product_page .course-img img {
    max-height: 400px;
  } */
  #course_page h2 {
    font-size: 30px;
  }
  #course_page .course-themes h2 {
    text-align: center;
  }
  .course-section {
    flex-direction: column;
  }
  #course_page .attention {
    font-size: 16px;
  }
  #course_page .attention::before {
    border: 1px solid #332e4c;
  }
  .course-img {
    order: 1;
    margin-bottom: 30px;
    min-height: 300px;
    background-color: #332e4c;
  }
  .course-themes {
    padding: 0 10px 30px 10px;
    order: 2;
    background-color: #332e4c;
  }

  .marker-item .marker-heading {
    font-size: 10px;
    font-weight: 400;
  }

  .about-course-content p {
    font-size: 16px;
  }

  .course-option {
    order: 3;
    color: #332e4c;
    padding: 30px 10px;
    background-color: #fff;
  }
  .course-themes,
  .course-img,
  .course-option {
    width: 100%;
  }
  .course-option .select-content h5 {
    font-size: 18px;
  }
  .course-option .select-content ul.filling {
    font-size: 16px;
  }
  .course-option select {
    border: 1px solid #332e4c;
    background-color: #fff;
    color: #332e4c;
    font-size: 14px;
  }
  .select-content .number-of-classes .board-icon svg {
    width: 30px;
    height: 27px;
  }

  .select-content .number-of-classes .board-icon path {
    fill: #332e4c;
  }

  section.about-course-section {
    padding: 20px 12px 40px 12px;
  }

  section.about-course-section .content-container {
    display: flex;
    flex-direction: column-reverse;
  }

  section.about-course-section .content-container input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
  }
  section.about-course-section .content-container .detail-button {
    padding: 15px 0;
    border-top: 1px solid #332e4c;
    border-bottom: 1px solid #332e4c;
  }
  section.about-course-section
    .content-container
    input:checked
    ~ .detail-button
    svg {
    transform: rotateZ(180deg);
  }
  section.about-course-section .content-container .content {
    max-height: 110px;
    overflow: hidden;
    transition: all 500ms ease;
  }
  section.about-course-section .content-container input:checked ~ .content {
    max-height: 2000px;
  }

  section.format-course {
    padding: 50px 15px;
  }
  section.format-course ul.main {
    display: block;
  }
  section.format-course ul.main li {
    padding: 0;
    width: 100%;
    display: flex;
  }
  section.format-course ul.main li:not(:last-child) {
    border: 0;
  }
  section.format-course ul.main .item-icon {
    align-items: flex-start;
  }
  section.format-course ul.main li .item-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  section.format-course ul.main li:last-child .item-content {
    border: 0;
  }
  section.format-course ul.main .item-icon svg {
    height: 30px;
    width: 30px;
  }
  #course_page .price-container {
    border-bottom: 1px solid #332e4c;
  }
  #course_page .price-container .cart-icon {
    background-color: #332e4c;
    border: 1px solid #332e4c;
  }
  #course_page .price-container .cart-icon.heart {
    padding: 10px;
    background-color: #fff;
  }

  #course_page .price-container .cart-icon:hover {
    background-color: #fff;
    border: 1px solid #332e4c;
  }
  #course_page .price-container .cart-icon:hover path {
    fill: #332e4c;
  }
  .cart-icon.heart path {
    stroke: #332e4c;
  }
  /* .about-course-menu .about-course-heading {
    border-bottom: 1px solid #332e4c;
  } */

  section.free-lesson {
    padding-top: 50px;
    flex-direction: column;
    background-image: linear-gradient(to top, #d9d9d1 85%, #fff 15%);
  }

  section.free-lesson .video-container {
    margin: 0 10px;
    width: 100%;
    height: 352px;
  }
  section.free-lesson .video-container .video-wrap {
    width: calc(100% - 20px);
    height: 100%;
    transform: translate(0, 0);
  }
  section.free-lesson .video-container .video {
    width: calc(100% - 20px);
    transform: translate(0, 0);
  }
  section.free-lesson .free-lesson-container {
    padding: 10px;
    width: 100%;
  }
  section.free-lesson .free-lesson-container .content {
    font-size: 16px;
  }
  .free-lesson-container .heading ul {
    flex-wrap: wrap;
  }
  .free-lesson-container .heading ul li:first-child,
  .free-lesson-container .heading ul li.btn {
    order: 1;
  }
  .free-lesson-container .heading ul li.date,
  .free-lesson-container .heading ul li.teacher {
    order: 2;
  }
  .select-container_mobile {
    display: block;
  }
  .select-container_desktop {
    display: none;
  }
  .course-program {
    padding: 50px 12px;
  }

  .selected-content .selected-content-list .selected-item {
    flex-direction: column;
    margin: 0;
  }

  .select-list-item .selected-item .content,
  .select-list-item .selected-item .image {
    width: 100%;
  }

  .select-list-item .selected-item .content .heading {
    padding: 10px 0;
    font-size: 10px;
    border-top: 1px solid #000;
  }

  .select-list-item .selected-item .content ul li > p {
    font-size: 16px;
  }

  .select-list-item .selected-item .image {
    min-height: 336px;
  }

  #course_page .our-teachers-section h2 {
    text-align: center;
  }
  section.course-teacher .our-teachers-section .teachers-photo {
    width: 100%;
  }

  section.payment .blocks {
    flex-wrap: wrap;
  }

  #course_page section.payment .price {
    display: block;
  }
  #course_page section.payment .price-container,
  #course_page section.payment .attention {
    margin: 20px 0;
    width: 100%;
  }

  #course_page section.payment .attention {
    margin-left: 0;
  }

  section.payment .section-heading {
    background-color: #b8c3cb;
  }

  section.payment .month-course {
    padding: 30px 15px;
  }

  section.payment .month-course,
  section.payment .block-course,
  section.payment .full-course,
  section.payment .attention-container {
    width: 100%;
    margin: 10px 0;
  }
  h3,
  h4 {
    text-align: center;
  }
  .course-option .about-course-menu .about-course-heading {
    border-bottom: 1px solid #332e4c;
  }
  .course-option .about-course-menu .about-course-heading svg path {
    fill: #332e4c;
  }
  .course-option .about-course-content .detail-button {
    color: #332e4c;
    border-top: 1px solid #332e4c;
    border-bottom: 1px solid #332e4c;
  }
  .course-option .about-course-content .detail-button .mobile-icon path {
    fill: #332e4c;
  }
  .detail-button .mobile-icon {
    display: initial;
  }

  .detail-button .desktop-icon {
    display: none;
  }
  .product_page .course-img img {
    width: 100%;
  }
  #course_page .course-section .productGallary .swiper-pagination {
    display: none;
  }
  #course_page .free-lesson .productGallary {
    padding-bottom: 40px !important;
  }
  #course_page .free-lesson .productGallary .swiper-button-next,
  #course_page .free-lesson .productGallary .swiper-button-prev {
    display: none;
  }
  #course_page .price-container p.price {
    margin-left: 5px;
  }
  #course_page .price-container .number button {
    height: 65px;
    border-bottom: none;
    font-size: 18px;
    line-height: 1.22;
  }

  #course_page .price-container .number button.decrement {
    border-right: none;
  }
  #course_page .price-container .number button.increment {
    border-left: none;
  }

  #course_page .price-container .number span {
    padding: 22px 0px;
    height: 65px;
    border-top: 1px solid #332e4c;
  }

  .product_page section.free-lesson {
    background-image: linear-gradient(to bottom, #fff 340px, #d9d9d1 1%);
  }
  .product_page .free-lesson .how-used-list li {
    margin-left: 10px;
    font-size: 16px;
  }
  .product_page section.free-lesson .video-container {
    margin-top: 120px;
  }
  #course_page.product_page .free-lesson .section_heading {
    left: 0;
  }
  #course_page.product_page .free-lesson .section_heading h5,
  #course_page.product_page .free-lesson .section_heading h2 {
    text-align: center;
  }
  .detail_section .detail_section-content .detail-button {
    padding: 15px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
}

@media (min-width: 1024px) {
  .course-section {
    padding-top: 140px;
  }
  .product_page .course-section {
    margin-bottom: 80px;
  }
  .about-course-menu ul {
    display: flex;
    position: relative;
    /* justify-content: space-between; */
    border-bottom: 1px solid #fff;
  }

  .about-course-menu ul .about-course-heading {
    margin: 0 15px;
    padding: 10px 0;
    border: none;
  }
  .about-course-menu ul li:first-child .about-course-heading {
    margin-left: 0;
  }
  .about-course-menu ul li input:checked ~ .about-course-content {
    position: absolute;
    left: 0;
  }
  .about-course-menu .about-course-heading span {
    opacity: 0.5;
  }
  .about-course-menu ul .about-course-heading svg {
    display: none;
  }
  .about-course-content .detail-button {
    padding: 10px 0;
    justify-content: flex-start;
    border: none;
  }

  .about-course-section .content-container input,
  .about-course-section .content-container label {
    display: none;
  }

  .course-option .select-container::after {
    content: "";
    top: 17px;
    width: 7px;
    height: 13px;
    background-image: url("../images/arrow.svg");
    transform: rotateZ(-90deg);
  }

  #course_page .productGallary .swiper-button-next,
  #course_page .productGallary .swiper-button-prev {
    display: none;
  }
  #course_page .price-container .number button {
    border: 1px solid #fff;
    border-bottom: none;
    color: #fff;
    background-color: transparent;
  }
  .product_page .free-lesson .how-used-list {
    margin-top: 80px;
  }

  .detail_section .detail_section-content ul li div.name {
    min-width: max-content;
    margin-right: 35px;
  }

  .detail_section .detail_section-content .detail-button {
    margin-top: 40px;
    justify-content: flex-end;
  }
}
