#header.black {
  color: #000;
}

#header .logo.black svg {
  fill: #000;
}

#header .left-side-container.black,
#header .right-side-container.black {
  border-bottom: 1px solid #000;
}

#header ul li.mobile-hidden.black::after {
  background-color: #000;
}

#header .icons-group .icon.black,
#header .icons-group .icon.black-heart {
  border: 1px solid #000;
}

#header .icons-group .icon.black path,
#header .icons-group .icon.black rect {
  fill: #000;
}

#header .icons-group .icon.black-heart path {
  stroke: #000;
}

#header .icons-group .cart-count.black {
  background-color: #1f1f1f;
  color: #fff;
}

#header-desktop-menu.black,
#header-mobile-menu.black {
  background-color: rgba(255, 255, 255, 0.9);
}

#header-desktop-menu.black .main-list li {
  color: rgba(51, 46, 76, 0.5);
}

#header-desktop-menu.black .main-list li:hover,
#header-desktop-menu.black .main-list li:focus,
#header-desktop-menu.black .main-list li.active {
  color: rgba(51, 46, 76, 1);
}

#header-desktop-menu.black .additional-list li {
  color: #332e4c;
}
